<hr class="hrtag">
<div class="text-box">
    <marquee>
        <% if (user) { %>
            <h1>
                <%= user.Notification1 %>
            </h1>
            <% } %>

    </marquee>
    <marquee>
        <% if (user) { %>
            <h1>
                <%= user.Notification2 %>
            </h1>
            <% } %>
                <!-- <h1>Notification 2: This is an important message!</h1> -->
    </marquee>
    <marquee>
        <% if (user) { %>
            <h1>
                <%= user.Notification3 %>
            </h1>
            <% } %>
                <!-- <h1>Notification 3: This is an important message!</h1> -->
    </marquee>
</div>