<section class="header">
    <nav>
        <a href="#"><img src="/static/DataBay LogoB.png"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/auth/index">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="http://localhost:3000/login" target="_blank">CHATBOX</a></li>
            </ul>
        </div>
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                <img src="/static/face-detection.png">
            </div>
            <div class="menu">
                <h3>Name<br><span>Profession</span></h3>
                <ul>
                    <li>
                        <a href="/auth/editProfile">
                            <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <ion-icon name="create"></ion-icon>Edit Profile</a>
                    </li> -->
                    <li>
                        <a href="/auth/signout">
                            <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</section>