<div class="Navbar">
    <nav class="nav" id="nav-menu">
        <ion-icon name="close-outline" class="header__close" id="close-menu"></ion-icon>

        <ul class="nav__list">
            <li class="nav__item">
                <a href="/auth/adminHome" class="nav__link">
                    <ion-icon name="home-outline"></ion-icon>&nbspHOME</a>
            </li>
            <li class="nav__item"><a href="/adminfaq" class="nav__link">FAQ</a></li>
            <li class="nav__item"><a href="/adminabout" class="nav__link">ABOUT</a></li>
            <li class="nav__item"><a href="/adminchat" class="nav__link">CHATBOX</a></li>
            <li class="nav__item"><a href="/deadlines" class="nav__link">DEADLINES</a></li>
            <li class="nav__item"><a href="/createAcc" class="nav__link">CREATE ACCOUNT</a></li>
            <li class="nav__item"><a href="/facultyMap" class="nav__link">FACULTY MAPPING</a></li>
        </ul>
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                <img src="/static/face-detection.png">
            </div>
            <div class="menu">
                <h3>Name<br><span>Profession</span></h3>
                <ul>
                    <li>
                        <a href="/auth/editProfile">
                            <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                    </li>
                    <li>
                        <a href="/auth/signout">
                            <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ion-icon name="menu-outline" class="header__toggle" id="toggle-menu"></ion-icon>
    <div class="logo">
        <img src="/static/Databay LogoW.png" alt="">
    </div>
    <p class="admintxt">A D M I N</p>
</div>