<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/static/style3.css">

    <title>Login & Registration Form</title>
</head>

<body>
    <div class="page">
        <div class="containerLogin">
            <div class="head">
                <img src="/static/DataBay LogoB.png" alt="no image found">
                <p class="t1">A D M I N</p>
            </div>
            <div class="forms">
                <div class="form login">
                    <span class="title">Login</span>

                    <form action="/auth/adminLogin" method="post">
                        <div class="input-field">
                            <input id="email" name="email" type="text" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password" class="password" placeholder="Enter your password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>

                        <div class="checkbox-text">
                            <a href="/forgotpass" class="text">Forgot password?</a>
                        </div>

                        <div class="input-field button">
                            <input type="submit" value="Login Now">
                        </div>
                    </form>
                    <button class="AL"><a class="for1" href="/Facultylogin"><ion-icon name="swap-horizontal-sharp"></ion-icon> Switch to Faculty Login</a></button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>