<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>

<body>
    <%- include('partials/headAdmin'); %>
        <!-- <div class="Navbar">
        <nav class="nav" id="nav-menu">
            <ion-icon name="close-outline" class="header__close" id="close-menu"></ion-icon>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="adminHome" class="nav__link">
                        <ion-icon name="home-outline"></ion-icon>&nbspHOME</a>
                </li>
                <li class="nav_item"><a href="/adminfaq" class="nav_link">FAQ</a></li>
                <li class="nav_item"><a href="/adminabout" class="nav_link">ABOUT</a></li>
                <li class="nav_item"><a href="/adminchat" class="nav_link">CHATBOX</a></li>
                <li class="nav_item"><a href="/deadlines" class="nav_link">DEADLINES</a></li>
                <li class="nav_item"><a href="/createAcc" class="nav_link">CREATE ACCOUNT</a></li>
            </ul>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    <img src="/static/face-detection.png">
                </div>
                <div class="menu">
                    <h3>Name<br><span>Profession</span></h3>
                    <ul>
                        <li>
                            <a href="/profile">
                                <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                        </li>
                        <li>
                            <a href="/auth/signout">
                                <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ion-icon name="menu-outline" class="header__toggle" id="toggle-menu"></ion-icon>
        <div class="logo">
            <img src="/static/Databay LogoW.png" alt="">
        </div>
        <p class="admintxt">A D M I N</p>
    </div> -->
        <div class="navline"></div>

        <div class="page2">
            <div class="divide-child 1">
                <div class="dataformtop">
                    <h1 class="drh2">Data Retrieval</h1><br>
                    <ion-icon size="large" name="cloud-download-outline" class="downloadimg"></ion-icon>
                    <p>Select your requirements:</p><br>
                </div>
                <div class="dataformbot">
                    <form action="/auth/retrieve" method="post" target="_blank">
                        <!-- <label for="Year">Select Year:</label>
                        <select name="Year" id="Year" class="DataSel">
                        <option selected disabled>Select</option>
                        <option value="year1" siz>Ist Year</option>
                        <option value="year2">IInd Year</option>
                        <option value="year3">IIIrd Year</option>
                        <option value="year4">IVth Year</option>
                        </select>
                        <br><br> -->
                        <label for="Semester">Select Semester:</label>
                        <select name="Semester" id="Semester" class="DataSel">
                        <option selected disabled>Select</option>    
                        <option value="sem1">1st Semester</option>
                        <option value="sem2">2nd Semester</option>
                        <option value="sem3">3rd Semester</option>
                        <option value="sem4">4th Semester</option>
                        <option value="sem5">5th Semester</option>
                        <option value="sem6">6th Semester</option>
                        <option value="sem7">7th Semester</option>
                        <option value="sem8">8th Semester</option>
                        </select>
                        <br><br>
                        <label for="Branch">Select Branch:</label>
                        <select name="Branch" id="Branch" class="DataSel">
                        <option selected disabled>Select</option>    
                        <option value="cse">CSE</option>
                        <option value="ise">ISE</option>
                        <option value="me">ME</option>
                        <option value="cve">CVE</option>
                        <option value="eee">EEE</option>
                        <option value="ece">ECE</option>
                        </select>
                        <br><br>
                        <label for="Doc">Select Document:</label>
                        <select name="Doc" id="Doc" class="DataSel">
                        <option selected disabled>Select</option>    
                        <option value="Micro-Assessment.pdf">Micro Assessment</option>
                        <option value="CO-PO Mapping.pdf">CO-PO Mapping</option>
                        <option value="CO Feedback.pdf">CO Feedback</option>
                        <option value="NBA Feedback.pdf">NBA Feedback</option>
                        </select>
                        <br><br>
                        <input type="submit" value="Submit" class="sub">
                        <input type="reset" value="Reset" class="res">
                    </form>
                </div>
            </div>
            <div class="divide-child 2">
                <div class="onlinetop">
                    <h1 class="oth2">Users Online</h1><br>
                    <ion-icon size="large" name="people-outline"></ion-icon><br>
                    <p>Recent 5 active users:</p>
                </div>
                <div class="onlinebot">
                    <ol class="onlineusers">
                        <% for(var i=0; i < user.length; i++) { %>
                            <div class="onlinelist">
                                <li>
                                    <%= user[i].Fname + " " + user[0].Lname %>
                                </li>
                                    <% } %>
                    </ol>
                </div>
            </div>
        </div>
        <section class="wavesec">
            <div class="waves">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
            </div>
            <div class="toot">
                <p>©DataBay 2022</p>
            </div>
        </section>

        <script src="/static/index.js"></script>
        <script src="/static/script.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>