<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>

<body>
    <%- include('partials/headAdmin'); %>
        <!-- <div class="Navbar">
        <nav class="nav" id="nav-menu">
            <ion-icon name="close-outline" class="header__close" id="close-menu"></ion-icon>

            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/adminHome" class="nav__link">
                        <ion-icon name="home-outline"></ion-icon>&nbspHOME</a>
                </li>
                <li class="nav__item"><a href="/adminfaq" class="nav__link">FAQ</a></li>
                <li class="nav__item"><a href="/adminabout" class="nav__link">ABOUT</a></li>
                <li class="nav__item"><a href="/adminchat" class="nav__link">CHATBOX</a></li>
                <li class="nav__item"><a href="/deadlines" class="nav__link">DEADLINES</a></li>
                <li class="nav__item"><a href="/createAcc" class="nav__link">CREATE ACCOUNT</a></li>
            </ul>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    <img src="/static/face-detection.png">
                </div>
                <div class="menu">
                    <h3>Name<br><span>Profession</span></h3>
                    <ul>
                        <li>
                            <a href="/profile">
                                <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                        </li>
                        <li>
                            <a href="/auth/signout">
                                <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <ion-icon name="menu-outline" class="header__toggle" id="toggle-menu"></ion-icon>
        <div class="logo">
            <img src="/static/Databay LogoW.png" alt="">
        </div>
        <p class="admintxt">A D M I N</p>
    </div> -->
        <div class="navline"></div>

        <section class="FAQ">
            <h1 class="title">Frequently Asked Questions</h1>

            <div class="questions-container">
                <div class="question">
                    <button>
                    <span>1.How to retrieve a document?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                    <p>After logging in through the admin login page, in the admin home page, the admin can select the year, semester, branch and type of document they desire in a form.
                        On submitting, they get a pdf file of the particular document viewed in another tab of the browser. They can then choose to dowload it.
                        </p>
                </div>

                <div class="question">
                    <button>
                    <span>2.How to create a new account?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                    <p>After the admin has navigated to the "Create Account" page through the navbar, the admin can assign email address, password and type of account(faculty/admin) in a form.
                        On pressing create account button, it is created.</p>
                </div>

                <div class="question">
                    <button>
                    <span>3.How to assign deadlines to faculty?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                    <p>After the admin has navigated to the "Deadlines" page through the navbar, the admin can assign 3 deadlines and other important news through the  text area form.
                        Once assigned, it appears globally in the marquee box for all faculties.</p>
                </div>

                <div class="question">
                    <button>
                    <span>4.How to navigate through the DaatBay website?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                    <p>Once the admin has logged in, they can find a series of webpages on the top left dropdown navbar.
                        The admin can click on any of those buttons to navigate to the desired pages.
                        The profile can be accessed on the top right corner of the page.</p>
                </div>

                <div class="question">
                    <button>
                    <span>5.How to contact the faculty through the chatbox?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                    <p>In DataBay, there is a external chat feature which can be found in the homepage. 
                        Admin is redirected to a chatbox login page on clicking "Chatbox" on the navbar of the homepage.
                        On entering the correct credentials, the admin is redirected to a chat page where the admin can directly contact the all the faculties through messaging. </p>
                </div>
            </div>
        </section>

        <section class="wavesec">
            <div class="waves">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
            </div>
            <div class="toot">
                <p>©DataBay 2022</p>
            </div>
        </section>

        <script src="/static/script.js"></script>
        <script src="/static/index.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>