<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
    <%- include('partials/head'); %>
        <!-- <section class="header">
        <nav>
            <a href="#"><img src="DataBay LogoB.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/chatbox">CHATBOX</a></li>
                </ul>
            </div>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    <img src="face-detection.png">
                </div>
                <div class="menu">
                    <h3>Name<br><span>Profession</span></h3>
                    <ul>
                        <li>
                            <a href="/profile">
                                <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                        </li>
                        <li>
                            <a href="/auth/signout">
                                <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <hr class="hrtag">
    <div class="text-box">
        <marquee>
            <h1>Notification 1: This is an important message!</h1>
        </marquee>
        <marquee>
            <h1>Notification 2: This is an important message!</h1>
        </marquee>
        <marquee>
            <h1>Notification 3: This is an important message!</h1>
        </marquee>
    </div> -->
        <%- include('partials/deadlines'); %>
            <hr class="hrtag">
            <div class="Todolist">
                <% if (map.filename != undefined) { %>
                    <p class="todotxt">
                        <%= "You have been allotted " + map.filename %>
                    </p>
                    <% } else { %>
                        <p class="todotxt">Nothing allotted yet</p>
                        <% } %>
            </div>
            <div class="filler">
                <div class="semester1">
                    <div class="container">
                        <button class="click"><a href="/branch">Upload</a></button>
                    </div>
                    <div class="content">
                        <h2>1ST YEAR</h2>
                        <h2>1ST YEAR</h2>
                    </div>
                </div>

                <div class="semester2">
                    <div class="container">
                        <button class="click"><a href="/branch">Upload</a></button>
                    </div>
                    <div class="content">
                        <h2>2ND YEAR</h2>
                        <h2>2ND YEAR</h2>
                    </div>
                </div>

                <div class="semester3">
                    <div class="container">
                        <button class="click"><a href="/branch">Upload</a></button>
                    </div>
                    <div class="content">
                        <h2>3RD YEAR</h2>
                        <h2>3RD YEAR</h2>
                    </div>
                </div>

                <div class="semester4">
                    <div class="container">
                        <button class="click"><a href="/branch">Upload</a></button>
                        <div class="content">
                            <h2>4TH YEAR</h2>
                            <h2>4TH YEAR</h2>
                        </div>
                    </div>
                </div>
            </div>

            <section class="wavesec">
                <div class="waves">
                    <div class="wave wave1"></div>
                    <div class="wave wave2"></div>
                    <div class="wave wave3"></div>
                    <div class="wave wave4"></div>
                </div>
                <div class="toot">
                    <p>©DataBay 2022</p>
                </div>
            </section>
            <!-- <div class="footer" align="center">
        <h2>End of page</h2>
        <h3>©DataBay</h3>
    </div>-->

            <script src="/static/index.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>