<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="uploadbox">
        <div class="uploadboxout">
            <h2>DataBay File Upload</h2>
            <!-- <i class="fas fa-cloud-upload-alt" id="cloud"></i> -->
            <form action="/auth/getData" method="post" enctype="multipart/form-data">
                <div class="uploadboxin">
                    <input type="file" name="file" id="file" class="customfile">
                    <br><br>
                    <label class="area52" for="file">Browse File to Upload</label>
                    <!-- <p class="area52">Browse File to Upload
                        <p> -->
                </div>
                <input class="button-17" type="submit" value="Upload">
                <input class="button-18" type="reset" value="Reset">
            </form>
        </div>
    </div>
</body>

</html>