<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
    <%- include('partials/head'); %>
        <!-- <section class="header">
        <nav>
            <a href="#"><img src="/static/DataBay LogoB.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/auth/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/chatbox">CHATBOX</a></li>
                </ul>
            </div>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    <img src="/static/face-detection.png">
                </div>
                <div class="menu">
                    <h3>Name<br><span>Profession</span></h3>
                    <ul>
                        <li>
                            <a href="/profile">
                                <ion-icon name="person-circle-sharp"></ion-icon>My Profile</a>
                        </li>
                        <li>
                            <a href="/auth/signout">
                                <ion-icon name="log-out-outline"></ion-icon>Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section> -->
        <section class="FAQ">
            <h1 class="title">ABOUT</h1>

            <p class="abouttxt">DataBay is a system that is intended to involve all participants in one collaborative system systematically. Once finished, the system will be used to replace the manual way of management. There is no restriction to access the system anytime
                or any day. In addition to the features outlined before, it has many security features that are important in an environment where access criteria to the database depend on the type of user.<br><br> The system uses verification during the
                user login to provide appropriate access to the system. Security features like user identification and authentication. The success of DataBay will reduce the weight on faculties, simplify the protocol and increase the performance of all
                the management.<br><br> DataBay is hoped to perform very well in enhancing the quality of management. Databay is developed using Node.js, Express.js for backend. HTML, CSS, EJS and React for frontend. And the database used is MongoDB.
                The website is still under development and many additional features are yet to be added. This is a beta version that will give a basic overview of the website.</p>
        </section>

        <section class="wavesec">
            <div class="waves">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
            </div>
            <div class="toot">
                <p>©DataBay 2022</p>
            </div>
        </section>
        <!-- <div class="footer" align="center">
            <h2>End of page</h2>
            <h3>©DataBay</h3>
        </div> -->

        <script src="/static/index.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>