<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
    <%- include('partials/head'); %>
        <section class="FAQ">
            <h1 class="title">Frequently Asked Questions</h1>

            <div class="questions-container">
                <div class="question">
                    <button>
                        <span>1.How to upload documents in the DataBay website?</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p class="tsttxt">After logging in through the faculty login page successfully, in the faculty home page the faculty can select any of the 4 years to upload documents for them. 
                        This will lead to a page where faculty can select the branch and semester desired. 
                        The next page consists of all the documents like CO-PO mapping, NBA Feedback...etc, where faculty can select which document to upload.
                        On clicking the upload button, we are re-directed to page where we can select the document from our PC to browse and upload.
                    </p>
                </div>

                <div class="question">
                    <button>
                        <span>2.What is the checkbox feature?</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>In the document page, we can select the type of document to upload.
                        On uploading and submitting, we are taken back to the documents page where we get a checkbox corresponding to the particular document ticked after the document has been uploaded.
                        This gives us a confirmation that the document has been uploaded.</p>
                </div>

                <div class="question">
                    <button>
                        <span>3.How to navigate through the DataBay website?</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>When we are in the faculty home page, use the navbar in the top to switch between the sections.
                        Click on "About" to go to the about webpage of the DataBay website.
                        Click on "FAQ" to go to the frequently asked questions webpage of the DataBay website.
                        Click on "Chatbox" to go to the chatbox webpage of the DataBay website.
                        They can then press on "Home" to come back to the homepage from any other webpage.
                        </p>
                </div>

                <div class="question">
                    <button>
                        <span>4.How to change profile details?</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>In the faculty homepage, on the top right corner, there is a circular section for profile.
                        On clicking that faculty get an option to either view and edit their profile or log out. 
                        On clicking "Profile", they can change their personal details and save the changes. </p>
                </div>

                <div class="question">
                    <button>
                        <span>5.How to contact the admin through the chatbox?</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>In DataBay, there is a external chat feature which can be found in the homepage. 
                        The faculty are redirected to a chatbox login page on clicking "Chatbox" on the navbar of the homepage.
                        On entering the correct credentials, the faculty is redirected to a chat page where the faculty can directly contact the admin through messaging. </p>
                </div>
            </div>
        </section>

        <section class="wavesec">
            <div class="waves">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
            </div>
            <div class="toot">
                <p>©DataBay 2022</p>
            </div>
        </section>
        <!-- <div class="footer" align="center">
            <h2>End of page</h2>
            <h3>©DataBay</h3>
        </div> -->

        <script src="/static/index.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>