<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
    <div class="forpass">
        <div class="forpasstop">
            <h2 class="forpasstxt">Change Of Password</h2>
        </div>
        <div class="forpassbot">
            <div class="forpassmini">
                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@nie.ac.in"><br>
            </div>
            <div class="forpassmini">
                <label class="small mb-1" for="inputPassword">Enter your secret key</label>
                <input class="form-control" id="inputPassword" type="text" placeholder="Enter Secret Key" value="Secret Key"><br>
            </div>
            <div class="forpassmini">
                <label class="small mb-1" for="inputPassword">Enter your new password</label>
                <input class="form-control" id="inputPassword" type="password" placeholder="Enter password" value="Password"><br>
            </div>
            <div class="forpassmini">
                <label class="small mb-1" for="inputPassword">Confirm password</label>
                <input class="form-control" id="inputPassword" type="password" placeholder="Enter password" value="Password"><br>
                <br>
            </div>
            <button class="button-19" type="submit">Save changes</button>
        </div>
    </div>
</body>

</html>