<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <ul>
            <li>Select Branch
                <ul>
                    <button class="branch"><a href="/input">Computer Science and Engineering</a></button>
                    <button class="branch"><a href="/input">Information Science and Engineering</a></button>
                    <button class="branch"><a href="/input">Mechanical Engineering</a></button>
                    <button class="branch"><a href="/input">Civil Engineering</a></button>
                    <button class="branch"><a href="/input">Electrical and Electronics Engineering</a></button>
                    <button class="branch"><a href="/input">Electronics and Communications Engineering</a></button>
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>