<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>

    <link rel="stylesheet" href="/static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>

    <section class="header">

        <nav>

            <a href="index2.html"><img src="/static/DataBay Logo.png"></a>

            <div class="nav-links">

                <ul>

                    <li><a href="/profile">HOME</a></li>

                    <li><a href="">ABOUT</a></li>

                    <li><a href="/faq">FAQ</a></li>

                    <li><a href="">CHATBOX</a></li>
                </ul>
            </div>

            <div class="action">

                <div class="profile" onclick="menuToggle();">
                    <img src="/static/face-detection.png">                 </div>

                <div class="menu">

                    <h3>Name<br><span>Profession</span></h3>

                    <ul>

                        <li><img src="/static/user.png"><a href="#">My Profile</a></li>

                        <li><img src="/static/edit.png"><a href="#">Edit Profile</a></li>

                        <li><img src="/static/log-out.png"><a href="#">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>

    <div class="text-box">

        <marquee>

            <h1>Notification 1: This is an important message!</h1>
        </marquee>

        <marquee>

            <h1>Notification 2: This is an important message!</h1>
        </marquee>
    </div>

    <section class="Upload">

        <div class="Files" align="center">

            <div class="subfile">

                <div class="tempHead">

                    <h1>CO-PO Mapping</h1>
                </div>
                <input type="checkbox" id="cbx" disabled>               <button class="filebtn">Upload</button>             </div><br>
            <div class="subfile">

                <div class="tempHead">


                    <h1 class="tempHead">Micro-Assesment</h1>
                </div>
                <input type="checkbox" id="cbx" disabled>               <button class="filebtn">Upload</button>             </div><br>
            <div class="subfile">

                <div class="tempHead">


                    <h1 class="tempHead">CO Feedback</h1>
                </div>
                <input type="checkbox" id="cbx" disabled>               <button class="filebtn">Upload</button>             </div><br>
            <div class="subfile">

                <div class="tempHead">


                    <h1 class="tempHead">NBA Feedback</h1>
                </div>
                <input type="checkbox" id="cbx" disabled>               <button class="filebtn">Upload</button>             </div><br>         </div>

    </section>


    <div class="footer" align="center">

        <h2>End of page</h2>

        <h3>©DataBay</h3>
    </div>


    <script src="/static/index.js"></script>
</body>

</html>