<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="/static/DataBay Logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/profile">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">CHATBOX</a></li>
                </ul>
            </div>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    <img src="/static/face-detection.png">
                </div>
                <div class="menu">
                    <h3>Name<br><span>Profession</span></h3>
                    <ul>
                        <li><img src="/static/user.png"><a href="#">My Profile</a></li>
                        <li><img src="/static/edit.png"><a href="#">Edit Profile</a></li>
                        <li><img src="/static/log-out.png"><a href="#">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="FAQ">
            <h1 class="title">Frequently Asked Questions</h1>

            <div class="questions-container">
                <div class="question">
                    <button>
                        <span>Test Question 1</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>Test Answer 1</p>
                </div>

                <div class="question">
                    <button>
                        <span>Test Question 2</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>Test Answer 2</p>
                </div>

                <div class="question">
                    <button>
                        <span>Test Question 3</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>Test Answer 3</p>
                </div>

                <div class="question">
                    <button>
                        <span>Test Question 4</span>
                        <i class="fas fa-chevron-down d-arrow"></i>
                    </button>
                    <p>Test Answer 4</p>
                </div>
            </div>
        </section>


        <div class="footer" align="center">
            <h2>End of page</h2>
            <h3>©DataBay</h3>
        </div>

        <script src="/static/index.js"></script>
</body>

</html>