<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBay</title>
    <link rel="stylesheet" href="/static/style3.css">
</head>

<body>
    <div class="Notify">
        <div class="Notifybox">
            <div class="Notifytop">
                <h2 class="Notifytxt">Faculty Mapping</h2>
            </div>
            <div class="Notifybot">
                <form action="/auth/mapToFaculty" method="post">

                    <div class="Notifymini">
                        <label for="email">Enter faculty email:</label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="Notifymini">
                        <label for="Branch">Select Branch:</label>
                        <select name="Branch" id="Branch" class="BranchSelection">
                    <option selected disabled>Select</option>    
                    <option value="cse">Computer Science and Engineering</option>
                    <option value="ise">Information Science and Engineering</option>
                    <option value="me">Mechanical Engineering</option>
                    <option value="cve">Civil Engineering</option>
                    <option value="eee">Electrical and Electronics Engineering</option>
                    <option value="ece">Electronics and Communications Engineering</option>
                    </select>
                    </div>
                    <div class="Notifymini">
                        <label for="Semester">Select Semester:</label>
                        <select name="Semester" id="Semester" class="BranchSelection">
                    <option selected disabled>Select</option>    
                    <option value="sem1">1st Semester</option>
                    <option value="sem2">2nd Semester</option>
                    <option value="sem3">3rd Semester</option>
                    <option value="sem4">4th Semester</option>
                    <option value="sem5">5th Semester</option>
                    <option value="sem6">6th Semester</option>
                    <option value="sem7">7th Semester</option>
                    <option value="sem8">8th Semester</option>
                    </select>
                    </div>
                    <div class="Notifymini">
                        <label for="Doc">Select Document:</label>
                        <select name="Doc" id="Doc" class="DataSel">
                        <option selected disabled>Select</option>    
                        <option value="Micro-Assessment">Micro Assessment</option>
                        <option value="CO-PO Mapping">CO-PO Mapping</option>
                        <option value="CO Feedback">CO Feedback</option>
                        <option value="NBA Feedback">NBA Feedback</option>
                        </select>
                    </div>
                    <div class="Notifymini">
                        <label for="subject">Enter the Subject Name:</label>
                        <input type="text" id="subject" name="subject">
                    </div>
                    <br>
                    <input class="button-69" type="submit" value="Notify">
                    <input class="button-70" type="reset" value="Reset">
                </form>
            </div>
        </div>
    </div>
</body>

</html>