@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    height: 200px;
    min-width: 100vh;
    width: 100%;
    background: white;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 300px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #03a9f4;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
    display: block;
    transition: 0.5s;
}

.text-box {
    background: linear-gradient(to right, rgb(0, 255, 247), rgb(8, 209, 169), rgb(0, 255, 247));
    height: 100px;
    position: relative;
    z-index: -1;
}

.text-box h1 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

.semester {
    width: 90%;
    height: 350px;
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
    background: linear-gradient(rgb(0, 0, 89), purple);
}

.container {
    top: 25px;
    left: 20px;
    width: 200px;
    position: relative;
}

.click {
    background-color: rgb(255, 187, 0);
}

.click:hover {
    background-color: rgb(255, 85, 0);
}

.click,
.links {
    padding: 12px;
    font-size: 2em;
    border-radius: 2px;
    border-color: transparent;
    outline: none;
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
}

.list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.newlist {
    transform: scaleY(1);
}

.links {
    background-color: crimson;
}

.links:hover {
    background-color: rgb(255, 0, 51);
    transform: scale(1.1);
}

.content {
    position: relative;
    left: 700px;
    top: 100px;
}

.content h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 6em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.action {
    position: fixed;
    top: 65px;
    right: 85px;
    background: rgb(63, 63, 63);
}

.action .profile {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    right: 50px;
    top: 50px;
    overflow: hidden;
    cursor: pointer;
    background: rgb(164, 164, 164);
}

.action .profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: rgb(238, 218, 63);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    visibility: visible;
    opacity: 1;
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.2em;
}

.action .menu h3 span {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 400;
}

.action .menu ul li {
    list-style: none;
    padding: 10x 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(120, 120, 120);
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a {
    color: rgb(0, 0, 0);
}

.footer {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(203, 203, 203);
}

.footer h2 {
    padding-top: 20px;
    font-weight: lighter;
}

.footer h3 {
    font-weight: lighter;
    color: rgb(158, 158, 158);
}

.wrapper {
    width: 860px;
    margin: 0 auto;
    align-items: center;
}

.wrapper ul {
    list-style: none;
    margin-top: 2%;
}

.wrapper ul li {
    background: #262626;
    width: 500px;
    border: 1px solid #fff;
    height: 75px;
    top: 100px;
    line-height: 50px;
    text-align: center;
    align-items: center;
    float: left;
    color: #fff;
    font-size: 25px;
    position: relative;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.wrapper ul li:hover {
    background: rgb(86, 177, 252);
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover>ul {
    display: block;
}

.wrapper ul ul ul {
    margin-left: 170px;
    top: 0;
    position: absolute;
}

.wrapper,
.branch {
    padding: 12px;
    border-radius: 2px;
    border-color: transparent;
    outline: none;
    width: 250px;
    transition: 0.5s;
    width: 500px;
}

.branch {
    background-color: rgb(128, 137, 255);
    font-size: large;
}

.branch:hover {
    background-color: rgb(188, 195, 255);
    transform: scale(1.1);
    cursor: pointer;
}


/*FAQ.html css*/

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
    font-weight: lighter;
}

.questions-container {
    max-width: 1000px;
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.question button {
    width: 100%;
    background-color: rgb(0, 255, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
}

.question p {
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
}

.question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}

.Upload {
    width: 100%;
    height: 500px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);
    align-items: center;
    justify-content: center;
}

.subfile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 10px;
    padding: 10px;
    height: 80px;
    width: 500px;
    background: linear-gradient(rgb(255 255 255), #06c69d);
}

.cbx {
    width: 50px;
}

.tempHead {
    width: 272px;
}

.filebtn {
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #00dae1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
}

.message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
}

.message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
    color: #262626;
}

.message-box p {
    color: #262626;
    font-size: 30px;
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
}

.buttons-con .action-link-wrap .link-button {
    background: #68c950;
    padding: 8px 25px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
    background: #5A5C6C;
    color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
    animation-delay: .2s;
}

#Polygon-3 {
    animation-delay: .4s;
}

#Polygon-4 {
    animation-delay: .6s;
}

#Polygon-5 {
    animation-delay: .8s;
}

@keyframes float {
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 450px) {
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -190px;
    }
    .message-box {
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -190px;
        text-align: center;
    }
}